########################################
# IDE Files
########################################
.idea
*.ipr
*.iml

########################################
# NodeJS Files
########################################
node_modules
npm-debug.log

########################################
# OSX Files
########################################
.DS_Store

########################################
# Misc Files
########################################
temp.txt
temp/

